.AboutMain {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  contain: strict;
}

.AboutBody {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ProfileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw / 3);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  border: solid 1px white;
  margin-top: 10%;
  margin-left: 5%;
}

.ProfileImgContainer {
  height: 20%;
  width: 50%;
  border-radius: 50%;
  /* background-image: url('../../images/profile-pic.png');
  background-size: cover;
  background-position: center; */
  transform: translate(0, -50%);
}
.ProfileImg {
  height: 75%;
  width: 100%;
  border-radius: 50%;
  object-fit: scale-down;
}

.ProfileCardText {
  height: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  transform: translate(0, -15%);
}
.AboutRight {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  padding: 5px;
  position: relative;
}

.AboutRBg {
  background-image: url('../../images/MiamiLogo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 80vh;
  width: 80vw;
  opacity: 0.15;
  pointer-events: none;
}

.AboutCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  background: black;
  opacity: 1;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}
.CardBtnContainer {
  display: flex;
  width: 10%;
  justify-content: space-around;
  margin-top: 1rem;
}
