/* @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap'); */
@font-face {
  font-family: 'LUMANEON';
  src: url('../../Fonts/LUMANEON.woff2') format('woff2'),
    url('../../Fonts/LUMANEON-SVG.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
:root {
  --highlightColor: #03ffab;
  --accentColor: #ff3ce6;
  --opacityHighlight: rgba(3, 255, 171, 0.5);
}

.ProjectMain {
  margin: 0;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-width: 100vw;
}
.ProjectContainer::-webkit-scrollbar,
.ProjectMain::-webkit-scrollbar {
  display: none;
}
.ProjectContainer {
  display: flex;
  /* overflow: hidden; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 90%;
}

.ProjectSection {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    'a b b c'
    'd ⭐ ⭐ e'
    'd ⭐ ⭐ e'
    'h i i j';
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 19% 30% 30% 19%;
  padding: 1rem;
  /* margin-top: 10px; */
}
.ProjectSection::-webkit-scrollbar {
  display: none;
}

.ProjectSection > div {
  border: solid 1px white;
}
.ProjectCards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.25s;
}
.ProjectMainBtn {
  display: flex;
  width: 75%;
  justify-content: space-around;
  align-items: center;
}
.ProjectCardMainBtn > a {
  font-size: clamp(1rem, 2vw, 2.5rem);
  font-family: 'LUMANEON', sans-serif;
  border: solid 1px var(--highlightColor);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 1rem var(--highlightColor);
  letter-spacing: 0.1rem;
}
.ProjectCardMainBtn > a:hover {
  animation: blinkingP 1s infinite;
}
@keyframes blinkingP {
  0% {
    opacity: 0;
    color: var(--accentColor);
  }
  50% {
    opacity: 1;
    color: var(--accentColor);
  }
  100% {
    opacity: 0;
    color: var(--accentColor);
  }
}

.ProjectCards > h3 {
  z-index: 1;
  font-size: clamp(1rem, 2.5vw, 2.75rem);
  font-weight: bolder;
  text-align: center;
  color: var(--opacityHighlight);
  /* text-shadow: 0px 0px 1rem var(--accentColor); */
  transition: all 0.25s;
  font-family: 'LUMANEON', sans-serif;
  /* background-color: black; */
}
.ProjectCards:hover > h3 {
  /* color: #ff3ce6; */
  color: var(--highlightColor);
  text-shadow: 0px 0px 1rem var(--highlightColor);
  opacity: 1;
}
.ProjectCards:hover > div {
  filter: grayscale(50%);
  transition: all 0.25s;
}
.OutercardImg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  z-index: 0;
  pointer-events: none;
}

.ProjectCards:nth-child(1) {
  grid-area: a;
}
.ProjectCards:hover {
  transform: scale(1.07);
}
.img1 {
  background-image: url('../../images/JATE.png');
  filter: grayscale(100%);
}

.ProjectCards:nth-child(2) {
  grid-area: b;
}
.ProjectCards:nth-child(2):hover,
.ProjectCards:nth-child(5):hover,
.ProjectCardsMain:hover {
  transform: scale(1.02);
}
.img2 {
  background-image: url('../../images/willdo.png');
  background-size: cover;
  background-position: center top;
  filter: grayscale(100%);
}
.img2 ~ h3,
.img5 ~ h3 {
  font-size: clamp(2rem, 3vw, 2.75rem);
}
.ProjectCards:nth-child(3) {
  grid-area: c;
}
.img3 {
  background-image: url('../../images/HammerLogin.png');
  opacity: 0.75;
  filter: grayscale(100%);
}

.ProjectCards:nth-child(4) {
  grid-area: h;
}
.img4 {
  background-image: url('../../images/brainbalancecompanion.png');
  background-size: cover;
  background-position: center top;
  filter: grayscale(100%);
}
.ProjectCards:nth-child(5) {
  grid-area: i;
}
.img5 {
  background-image: url('../../images/BlogSite.png');
  background-size: 100%;
  background-position: top center;
  filter: grayscale(100%);
}
.ProjectCards:nth-child(6) {
  grid-area: j;
}
.img6 {
  background-image: url('../../images/weatherApp.png');
  filter: grayscale(100%);
}
.ProjectCards:nth-child(7) {
  grid-area: d;
  background-image: url('../../images/MiamiLogo.svg');
  opacity: 0.75;
}
.ProjectCards:nth-child(8) {
  grid-area: e;
  background-image: url('../../images/MiamiLogo.svg');
  opacity: 0.75;
}

.ProjectCardsMain {
  grid-area: ⭐;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.ProjectImgContainer {
  width: 50%;
  padding: 10px;
  height: 100%;
}
.ProjectImg {
  object-fit: cover;
  object-position: top left;
  height: 100%;
  width: 100%;
}
.MainCardRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.ProjectMainTitle {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: bolder;
  text-align: center;
  text-shadow: 0px 0px 1.5rem var(--highlightColor);
  transition: all 0.25s;
  font-family: 'LUMANEON', sans-serif;
}
.ProjectMainDescription {
  font-family: 'Oswald', sans-serif;
  font-size: clamp(1rem, 1.5vw, 2rem);
  padding: 5px;
  color: #e3f2ed;
}

.LoadingInstruction {
  font-size: clamp(1rem, 2vw, 2.5rem);
  font-weight: bolder;
  text-align: center;
  text-shadow: 0px 0px 1.5rem var(--accentColor);
  transition: all 0.25s;
  font-family: 'LUMANEON', sans-serif;
}
.LoadMainCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1100px) {
  .ProjectSection {
    /* grid-template-areas:
      '⭐ ⭐ ⭐ ⭐'
      '⭐ ⭐ ⭐ ⭐'
      'a a b b'
      'c c h h'
      'i i j j'; */
    grid-template-areas:
      '⭐ ⭐ ⭐ ⭐'
      '⭐ ⭐ ⭐ ⭐'
      'b b i i'
      'a a c c'
      'h h j j';
    grid-template-rows: repeat(5, 20%);
  }
  .ProjectCardsMain {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .ProjectImgContainer {
    width: 80%;
    height: 50%;
  }
  .ProjectImg {
    height: 100%;
  }
  .MainCardRight {
    width: 100%;
  }
  .img5 {
    background-position: center;
  }
}
