/* @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap'); */
@font-face {
  font-family: 'LUMANEON';
  src: url('../../Fonts/LUMANEON.woff2') format('woff2'),
    url('../../Fonts/LUMANEON-SVG.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
:root {
  --highlightColor: #03ffab;
  --accentColor: #ff3ce6;
  --opacityHighlight: rgba(3, 255, 171, 0.5);
}

.ProjectMain {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  contain: strict;
}

.ProjectSection {
  height: 78%;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    'a b b c'
    'd ⭐ ⭐ e'
    'd ⭐ ⭐ e'
    'h i i j';
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 18% 30% 30% 18%;
  padding: 1rem;
  margin-top: 10px;
}

.ProjectSection > div {
  border: solid 1px white;
}
.ProjectCards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.25s;
}

.ProjectCards > h3 {
  z-index: 1;
  font-size: clamp(1rem, 2.5vw, 2.75rem);
  font-weight: bolder;
  text-align: center;
  color: var(--opacityHighlight);
  /* text-shadow: 0px 0px 1rem var(--accentColor); */
  transition: all 0.25s;
  font-family: 'LUMANEON', sans-serif;
  /* background-color: black; */
}
.ProjectCards:hover > h3 {
  /* color: #ff3ce6; */
  color: var(--highlightColor);
  text-shadow: 0px 0px 1rem var(--highlightColor);
  opacity: 1;
}
.ProjectCards:hover > div {
  filter: grayscale(50%);
  transition: all 0.25s;
}
.OutercardImg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  z-index: 0;
  pointer-events: none;
}

.ProjectCards:nth-child(1) {
  grid-area: a;
}
.ProjectCards:hover {
  transform: scale(1.07);
}
.img1 {
  background-image: url('../../images/JATE.png');
  filter: grayscale(100%);
}

.ProjectCards:nth-child(2) {
  grid-area: b;
}
.ProjectCards:nth-child(2):hover,
.ProjectCards:nth-child(5):hover,
.ProjectCardsMain:hover {
  transform: scale(1.02);
}
.img2 {
  background-image: url('../../images/HammerLogin.png');
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}
.img2 ~ h3,
.img5 ~ h3 {
  font-size: clamp(2rem, 3vw, 2.75rem);
}
.ProjectCards:nth-child(3) {
  grid-area: c;
}
.img3 {
  background-image: url('../../images/slideshow.png');
  opacity: 0.75;
  filter: grayscale(100%);
}

.ProjectCards:nth-child(4) {
  grid-area: h;
}
.img4 {
  background-image: url('../../images/brainbalancecompanion.png');
  background-size: cover;
  background-position: center top;
  filter: grayscale(100%);
}
.ProjectCards:nth-child(5) {
  grid-area: i;
}
.img5 {
  background-image: url('../../images/BlogSite.png');
  background-size: 100%;
  background-position: top center;
  filter: grayscale(100%);
}
.ProjectCards:nth-child(6) {
  grid-area: j;
}
.img6 {
  background-image: url('../../images/weatherApp.png');
  filter: grayscale(100%);
}
.ProjectCards:nth-child(7) {
  grid-area: d;
  background-image: url('../../images/MiamiLogo.svg');
  opacity: 0.75;
}
.ProjectCards:nth-child(8) {
  grid-area: e;
  background-image: url('../../images/MiamiLogo.svg');
  opacity: 0.75;
}

.ProjectCardsMain {
  grid-area: ⭐;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.ProjectImgContainer {
  width: 50%;
  padding: 10px;
  height: 100%;
}
.ProjectImg {
  object-fit: cover;
  object-position: top left;
  height: 100%;
  width: 100%;
}
.MainCardRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProjectMainTitle {
  font-size: clamp(3rem, 4vw, 4rem);
  font-weight: bolder;
  text-align: center;
  text-shadow: 0px 0px 1.5rem var(--highlightColor);
  transition: all 0.25s;
  font-family: 'LUMANEON', sans-serif;
}
.LoadingInstruction {
  font-size: clamp(1rem, 2vw, 2.5rem);
  font-weight: bolder;
  text-align: center;
  text-shadow: 0px 0px 1.5rem var(--accentColor);
  transition: all 0.25s;
  font-family: 'LUMANEON', sans-serif;
}
.LoadMainCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
